<div class="col-lg-12 notify-cont" *ngIf="consentDetailsPage"> 
        <div class="card bg-c-blue notification-card">
          <div class="card-block ">
              <div class="col-12 notify-cont">
                <p class="page-title">Track Consent Request</p>
              </div>
          </div>
        </div>

        <app-card>
            <form [formGroup]="customerConsentForm">
                 
                <div class="form-group row" style="margin-top: 8px;">
                    <!-- <div class="input-group col-sm-6">
                        <label class="label-size">Customer AA Id:</label>
                        </div>
    
                        <div class="input-group col-sm-6">
                            <label class="label-size">Consent Request Date:</label>
                        </div> -->
                    <div class="input-group col-sm-5">
                        <div style="margin-right: 8px; margin-top: 12px;"><label class="label-size">Customer AA Id:</label></div>
                        <span class="input-group-prepend" style="margin-top: 6px;"><label class="input-group-text" style="background:#3498db"><img
                              src="assets/icon/themify-icons/SVG/user.svg"></label></span>
                        <input type="text" class="form-control tooltip-form placeholder" style="margin-top: 6px;" placeholder=" Enter customer aa id "
                          formControlName="customerId" >
                          <!-- <div class="input-group row">
                              <span style="float:left;margin-top: 10px;margin-left: 15px;font-size: 12px;" class="messages text-danger" *ngIf="(customerConsentForm.controls['customerId'].hasError('required') 
                                            || customerConsentForm.controls['customerId'].hasError('whitespace')) 
                                            && (customerConsentForm.controls['customerId'].dirty || customerConsentForm.controls['customerId'].touched)">Enter Customer AA Id</span>
                          </div> -->
                      </div>

                <div class="input-group col-sm-5">
                    <div style="margin-right: 8px; margin-top: 12px;"><label class="label-size">Consent Request Date:</label></div>
                    <span class="input-group-prepend" style="margin-top: 6px;"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/calendar.svg"></label></span>
                    <input class="form-control placeholder" style="margin-top: 6px;" placeholder="Select data to date" formControlName="consentRequestDate" [(ngModel)]="consentRequestDate" type="date" [min]="minDate" [max]="maxDate"/>
                    <!-- <div class="input-group placeholder">
                        <span style="float:left;margin-top: 5px;" class="messages text-danger" *ngIf="customerConsentForm.controls['consentRequestDate'].hasError('required') && (customerConsentForm.controls['consentRequestDate'].dirty || customerConsentForm.controls['consentRequestDate'].touched)">Consent request date is required</span>
                    </div> -->
                </div>

                <div class="col-sm-2">
                    <button style="width: 100px;height: 35px;" type="button" class="btn btn-primary"
                    (click)="fetchUsersConsentData()">Search</button>
                </div>
            </div>
            </form>
            <!-- <div *ngFor="let customerDataRes of customerDataResponse">
              <label style="margin-bottom: 15px;font-weight: bold; font-size: 16px;">Search results for customer:
                {{customerDataRes.customerId}}</label>
        
              <ngx-datatable class="data-table" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="45"
                [rowHeight]="'auto'" [limit]="5" [scrollbarH]="true" [rows]="customerDataRes.customerDatas">
        
                <ngx-datatable-column name="Consent Purpose" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="true">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.consentPurpose}} </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Consent Status" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="true">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.consentStatus}} </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Consent Fetch Type" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="true">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">Consent Start Date</span>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.consentStartDate | date:'d MMM, y  h:mm:ssa'}} </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Consent Expiry Date" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="true">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.consentExpiryDate | date:'d MMM, y  h:mm:ssa'}} </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Consent Details" [resizeable]="false" [sortable]="false" [draggable]="false"
                  [canAutoResize]="true">
                  <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">Accounts</span>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
                    style="text-align: center;">
                    <a class="m-r-15 crm-action-view text-info" href="javascript:;" (click)="open(row.accounts)">
                      View Accounts</a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              
            </div> -->
          <!-- </app-card> -->

    
      <!-- <app-card [cardOptionBlock]="true"> -->
            <!--<span class="code-header">use class <code>data-table </code> with ngx-datatable and set <code>search element</code>.</span>
             <div class="row">
                <div class="col-sm-12">
                    <label class="dt-cust-search f-right">
                    <div class="form-group">
                        <label class="search">Search: </label>
                        <input 
                            type='text'
                            class="form-control input-sm m-l-15 search-placeholder"
                            placeholder='Search Customer Id'
                            (keyup)='updateFilter($event)'/>
                    </div>
                    </label>
                </div>
            </div> -->
            <div *ngIf="isCustomerResult">
            <label style="margin-bottom: 15px;font-weight: bold; font-size: 16px;">Search results for customer:
                {{custAAId}}</label>
            </div>
            <div *ngIf="isConsentDateResult">
                <label style="margin-bottom: 15px;font-weight: bold; font-size: 16px;">Search results for consent request date:
                    {{consentRequestDate | date:'dd/MM/yyyy'}}</label>
                </div>
                <div *ngIf="isConsentDateAndCustomerResult">
                    <label style="margin-bottom: 15px;font-weight: bold; font-size: 16px;">Search results for customer:
                        {{custAAId}} and consent request date: {{consentRequestDate | date:'dd/MM/yyyy'}}</label>
                    </div>
            <ngx-datatable 
            class="data-table"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="45"
            [rowHeight]="'auto'"
            [limit]="10"
            [scrollbarH]="true"
            [rows]="consentDetailsList"
            [sorts]="[{prop: 'requestDate', dir: 'desc'}]">

            <ngx-datatable-column name="Customer Id" [resizeable]="false" [sortable]="false" 
            [draggable]="false" [canAutoResize]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                </ng-template>      
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.custId}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Consent Description" [resizeable]="false" [sortable]="false" 
            [draggable]="false" [canAutoResize]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                </ng-template> 
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.consentDescription}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [resizeable]="false" [sortable]="false" 
            [draggable]="false" [canAutoResize]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                </ng-template> 
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.consentStatus}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date" [resizeable]="false" [sortable]="false" 
            [draggable]="false" [canAutoResize]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
                </ng-template> 
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span class="datatable-row"> {{row.requestDate | date:'d MMM, y  h:mm:ssa'}} </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Consent Purpose" [resizeable]="false" [sortable]="false"
            [draggable]="false" [canAutoResize]="true">
              <ng-template let-column="column" ngx-datatable-header-template>
                  <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
              </ng-template> 
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span class="datatable-row"> {{row.consentPurpose}} </span>
              </ng-template>
          </ngx-datatable-column>
            <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
            [draggable]="false" [canAutoResize]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
                  <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="onCheckStatus(row)" 
                    data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Check consent status"><i class="fa fa-refresh" style="font-size: 16px;"></i></a>
                  <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="onFiRequest(row)" 
                    data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Send data request"><i class="fa fa-arrow-down" style="font-size: 16px;"></i></a>
                  <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="getFIstatus(row)"                                                                                        
                    data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Check data status"><i class="fa fa-refresh" style="font-size: 16px;"></i></a>
                  <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="onViewData(row)" 
                    data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="View Data"><i class="fa fa-book" style="font-size: 16px;"></i></a>  
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </app-card>
    </div>
    
    <div class="col-lg-12" *ngIf="!transactionDetailsPage">
         <div class="col-lg-12">
            <div class="card bg-c-blue notification-card">
                <div class="card-block ">
                    <div class="col-12 notify-cont">
                        <p class="page-title"><img class="change-color" src="assets/icon/themify-icons/SVG/left-arrow-angle.svg" style="margin-right: 10px;" width="16px" height="16px" (click)="onBackClick()"/> Bank Accounts</p>
                    </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12" title="Savings" style='margin-top:20px'>
                    <div class="row">  
                      <div class="col-lg-6 col-md-12" >
                          <app-card [title]="'Accounts Analysis'">
                              <google-chart [data]="savingsPieChartData"></google-chart>                                                           
                          </app-card>
                      </div> 
                      
                      <div class="col-lg-6 col-md-12" >
                        <app-card [title]="'Accounts Analysis'">
                            <google-chart [data]="savingsLineChartData"></google-chart>                                                           
                        </app-card>
                      </div>
                    </div>    
            </div> -->
          
          <div class="col-lg-12">
            <app-card>
                <div class="outer-table-box">
                    <table class="table">
                        <thead>
                            <tr class="border-solid">
                                <th>FIP Name</th>
                                <th>Customer Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>PAN</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let fiData of fiObjectsData">
                            <tr (click)="onclickRow()" class="table-active">
                                <td><i class="ti-arrow-circle-down f-left-center"></i> {{fiData.fipName}}</td>
                                <td>{{fiData.fiObjects[0].Profile.Holders.Holder.name}}</td>
                                <td>{{fiData.fiObjects[0].Profile.Holders.Holder.mobile}}</td>
                                <td>{{fiData.fiObjects[0].Profile.Holders.Holder.email}}</td> 
                                <td>{{fiData.fiObjects[0].Profile.Holders.Holder.pan}}</td> 
                            </tr>
                            <tr *ngIf="!collapsed">
                                <td colspan="5">
                                    <div class="inner-table-box">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Account Type</th>
                                                    <th>Account Number</th>
                                                    <th>Current Balance</th>
                                                    <th>Account Opening Date</th>
                                                    <th>IFSC Code</th>
                                                    <th>Branch Name</th>
                                                    <th>View Account Insight</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let transactionData of fiData.fiObjects; let i = index" [attr.data-index]="i">
                                                <tr class="table-active" (click)="onclickRow1(i, fiData.type)">
                                                    <td>
                                                        <i class="ti-arrow-circle-down f-left-center"></i> 
                                                        <a *ngIf="!depositType" style="font-size: 12px;"> {{transactionData.Summary.type}}</a>
                                                        <a *ngIf="!termDeposiType" style="font-size: 12px;"> {{transactionData.Summary.accountType}}</a>
                                                    </td>
                                                    <td>{{transactionData.maskedAccNumber}}</td>
                                                    <td style="text-align: right">
                                                        <img src="assets/images/rupee-dark-grey.svg">
                                                        <a *ngIf="!depositCurrentBalance" style="font-size: 12px;"> {{transactionData.Summary.currentBalance | number:'1.2-2'}}</a><a *ngIf="!termDepositCurrentValue" style="font-size: 12px;"> {{transactionData.Summary.currentValue | number:'1.2-2'}}</a>
                                                    </td>
                                                    <td>{{transactionData.Summary.openingDate}}</td>
                                                    <td>
                                                        <a *ngIf="!depositIfsc" style="font-size: 12px;"> {{transactionData.Summary.ifscCode}}</a>
                                                        <a *ngIf="!termDepositIfsc" style="font-size: 12px;"> {{transactionData.Summary.ifsc}}</a>
                                                    </td>
                                                    <td>{{transactionData.Summary.branch}}</td>
                                                    <td>
                                                        <a href="javascript:;" class="m-r-45 crm-action-view text-info" 
                                                            (click)="onAccountInsightData(fiData.custId, fiData.consentId, fiData.sessionId, fiData.fiAccountInfo, transactionData.linkedAccRef)" 
                                                            ngbTooltip="Accounts Insight" data-toggle="tooltip" data-placement="bottom">
                                                            <img src="assets/images/eye.svg"/>
                                                        </a> 
                                                    </td>
                                                </tr> 
                                            
                                                <tr *ngIf="!collapsed1">
                                                    <td colspan="7">
                                                        <div class="table-box">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Transaction Date</th>
                                                                        <th colspan="2">Narration</th>
                                                                        <th>Reference</th>
                                                                        <th>Credit</th>
                                                                        <th>Debit</th>
                                                                        <th>Account Balance</th>
                                                                        
                                                                    </tr>
                                                                </thead>
                                                                <tr *ngFor="let txn of transactionData.Transactions.Transaction" class="table-active"> 
                                                                    <td><a *ngIf="!depositTrasactionTimestamp" style="font-size: 12px;"> {{txn.transactionTimestamp | date:'yyyy-MM-dd'}}</a><a *ngIf="!termDepositTransactionDateTime" style="font-size: 12px;"> {{txn.transactionDateTime | date:'yyyy-MM-dd'}}</a></td>
                                                                    <td colspan="2">{{txn.narration}}</td>
                                                                    <td>{{txn.reference}}</td>
                                                                    <td style="text-align: right"><a *ngIf="txn.type == 'CREDIT'" style="font-size: 12px;"><img src="assets/images/rupee-dark-grey.svg">{{txn.amount | number:'1.2-2'}}</a></td>
                                                                    <td style="text-align: right"><a *ngIf="txn.type == 'DEBIT'" style="font-size: 12px;"><img src="assets/images/rupee-dark-grey.svg">{{txn.amount | number:'1.2-2'}}</a></td>
                                                                    <td style="text-align: right"><img src="assets/images/rupee-dark-grey.svg"><a *ngIf="!depositCurrentBalance" style="font-size: 12px;"> {{txn.currentBalance | number:'1.2-2'}}</a><a *ngIf="!termDepositCurrentValue" style="font-size: 12px;"> {{txn.balance | number:'1.2-2'}}</a></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>        
                            </tr> 
                        </tbody>
                      </table> 
                    </div>
                </app-card>
          </div>
    </div>
    
    <div class="col-lg-12" *ngIf="!accountsInsightPage">
        <div class="card bg-c-blue notification-card">
            <div class="card-block ">
                <div class="col-12 notify-cont">
                  <p class="account-insight-label"><a><img src="assets/icon/themify-icons/SVG/left-arrow-angle.svg" (click)="onBack()" style="padding-bottom: 5px;margin-right: 15px"/></a>Accounts Insight</p>
                </div>
            </div>
          </div>
        <div class="col-lg-12">
            <div class="md-tabs">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle><span class="sbi-tab-title" translate>{{fiDetail.name}}</span></ng-template>
                        <ng-template ngbTabContent>
                            <div class="sub-title"></div>
                            <app-card [title]="''">
                                <label class="sub-title-font">Statement Period</label>
                                <div class="sub-title"></div>
    
                                <div class="form-group row">
                                    <div class="col-md-12 col-xl-3">
                                        <label class="col-form-label label-size"><b>Account Number</b></label>
                                        <div class="text-muted">
                                            <label type="text" class="col-form-label placeholder">{{period.maskedAccountNumber}}</label>
                                        </div>
                                    </div>
    
                                    <div class="col-md-12 col-xl-3">
                                        <label class="col-form-label label-size"><b>Period Start</b></label>
                                        <div class="text-muted">
                                            <label type="text" class="col-form-label placeholder">{{period.startDate | date:'dd-MM-yyyy HH:mm:ss'}}</label>
                                        </div>
                                    </div>
    
                                    <div class="col-md-12 col-xl-3">
                                        <label class="col-form-label label-size"><b>Period End</b></label>
                                        <div class="text-muted">
                                            <label type="text" class="col-form-label placeholder">{{period.endDate | date:'dd-MM-yyyy HH:mm:ss'}}</label>
                                        </div>
                                    </div>
    
                                    <div class="col-md-12 col-xl-3">
                                        <label class="col-form-label label-size"><b>Total Period (months)</b></label>
                                        <div class="text-muted">
                                            <label type="text" class="col-form-label placeholder">{{period.months}}</label>
                                        </div>
                                    </div>
                                </div>
                            </app-card>
    
                            <app-card [title]="''">
                                <label class="sub-title-font">Flow Analysis</label>
                                <div class="sub-title"></div>
                                <div class="sub-title sub-title-font" [style.color]="flowAnalysis.netFlow > 0 ? 'green' : 'red'">Net Flow: <img
                                    [src]="flowAnalysis.netFlow > 0 ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{flowAnalysis.netFlow | number}}</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-4" align="center">
                                        <label class="inner-sub-title-font">Total Credits</label>
                                        <div class="sub-title"></div>
                                        <label class="label-title-green">Total Amount: <img src="assets/images/img-rupee-green.svg">{{flowAnalysis.totalCredits.totalAmount | number}}</label>
                                        <div class="table-responsive">
                                            <table class="table table-border inner-tables">
                                                <thead>
                                                    <tr>
                                                        <th>Category</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let creditRow of flowAnalysis.totalCredits.rows" style="word-break: break-all;">
                                                        <td>{{creditRow.category}}</td>
                                                        <td class="green-color" style="text-align: right"><img src="assets/images/rupee-green.svg">{{creditRow.amount | number}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
    
                                    <div class="col-sm-12 col-md-12 col-xl-4" align="center">
                                        <label class="inner-sub-title-font">Flow Analysis Chart</label>
                                        <div class="sub-title"></div>
                                        <google-chart [data]="flowAnaylsisPieChartData"></google-chart>
                                    </div>
    
                                    <div class="col-md-12 col-xl-4" align="center">
                                        <label class="inner-sub-title-font">Total Debit</label>
                                        <div class="sub-title"></div>
    
    
                                        <label class="label-title-red inner-sub-title-font">Total Amount: <img src="assets/images/img-rupee-red.svg">{{flowAnalysis.totalDebits.totalAmount | number}}</label>
                                        <div class="table-responsive">
                                            <table class="table table-border">
                                                <thead>
                                                    <tr>
                                                        <th>Category</th>
                                                        <th style="text-align: right">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let debitRow of flowAnalysis.totalDebits.rows">
                                                        <td>{{debitRow.category}}</td>
                                                        <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{debitRow.amount | number}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </app-card>
    
                            <div class="row">
                                <div class="row col-md-12">
                                    <div class="col-md-12 col-lg-6">
                                            <app-card [title]="''">
                                                    <div class="col-md-12">
                                                        <div class="md-tabs">
                                                            <ngb-tabset>
                                                                <ngb-tab>
                                                                    <ng-template ngbTabTitle><span class="tab-title" translate>Monthly Surplus</span></ng-template>
                                                                    <ng-template ngbTabContent>
                                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-borderless">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Month</th>
                                                                                            <th style="text-align: center">Debits</th>
                                                                                            <th style="text-align: center">Credits</th>
                                                                                            <th style="text-align: center">Surplus</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let monthsSurplus of monthlySurplus">
                                                                                            <td>{{monthsSurplus.month | date:'dd-MM-yyyy'}}</td>
                                                                                            <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{monthsSurplus.debits | number}}</td>
                                                                                            <td class="green-color" style="text-align: right"><img src="assets/images/rupee-green.svg">{{monthsSurplus.credits | number}}</td>
                                                                                            <td style="text-align: right"><img src="assets/images/rupee-grey.svg">{{monthsSurplus.surplus | number}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </ngb-tab>
                                                                <ngb-tab>
                                                                    <ng-template ngbTabTitle><span class="tab-title" translate>Monthly Avg Balance</span></ng-template>
                                                                    <ng-template ngbTabContent>
                                                                        <div [@fadeInOutTranslate] class="m-t-15">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-borderless">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Month</th>
                                                                                            <th style="text-align: center">Average</th>
                                                                                            <th style="text-align: center">Change</th>
                                                                                            <th style="text-align: center">Change Percent</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let monthsAvgBalance of monthlyAvgBalance">
                                                                                            <td>{{monthsAvgBalance.month | date:'dd-MM-yyyy'}}</td>
                                                                                            <td style="text-align: right" [style.color]="monthsAvgBalance.average > 0 ? 'green' : 'red'"><img
                                                                                                [src]="monthsAvgBalance.average > 0 ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{monthsAvgBalance.average | number}}</td>
                                                                                            <td style="text-align: right" [style.color]="monthsAvgBalance.change > 0 ? 'green' : 'red'"><img
                                                                                                    [src]="monthsAvgBalance.change > 0 ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{monthsAvgBalance.change | number}}</td>
                                                                                            <td style="text-align: right" [style.color]="monthsAvgBalance.changePercent > 0 ? 'green' : 'red'">{{monthsAvgBalance.changePercent | number}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </ngb-tab>
                                                            </ngb-tabset>
                                                        </div>
                                                    </div>
                                            </app-card>
                                    </div>
        
                                        <div class="col-md-12 col-lg-6">
                                                <app-card [title]="''">
                                                        <div class="col-md-12">
                                                            <div class="md-tabs">
                                                                <ngb-tabset>
                                                                        <ngb-tab>
                                                                                <ng-template ngbTabTitle><span class="tab-title" translate>Overdrafts</span></ng-template>
                                                                                <ng-template ngbTabContent>
                                                                                    <div [@fadeInOutTranslate] class="m-t-15">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-borderless">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th>Date</th>
                                                                                                        <th>Particulars</th>
                                                                                                        <th>Amount</th>
                                                                                                        <th>Balance</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr *ngFor="let overdraft of overdrafts">
                                                                                                        <td>{{overdraft.date | date:'dd-MM-yyyy'}}</td>
                                                                                                        <td>{{overdraft.particulars}}</td>
                                                                                                        <td style="text-align: right"><img src="assets/images/rupee-grey.svg">{{overdraft.amount | number}}</td>
                                                                                                        <td style="text-align: right"><img src="assets/images/rupee-grey.svg">{{overdraft.balance}}</td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ngb-tab>
                        
                                                                            <ngb-tab>
                                                                                <ng-template ngbTabTitle><span class="tab-title" translate>Auto Debits</span></ng-template>
                                                                                <ng-template ngbTabContent>
                                                                                    <div [@fadeInOutTranslate] class="m-t-15">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-borderless inner-tables">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th>Date</th>
                                                                                                        <th>Particulars</th>
                                                                                                        <th>Amount</th>
                                                                                                        <th>Balance</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr *ngFor="let autoDebit of autoDebits">
                                                                                                        <td>{{autoDebit.date | date:'dd-MM-yyyy'}}</td>
                                                                                                        <td>{{autoDebit.particulars}}</td>
                                                                                                        <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{autoDebit.amount | number}}</td>
                                                                                                        <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{autoDebit.balance | number}}</td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </ngb-tab>
                                                                </ngb-tabset>
                                                            </div>
                                                        </div>
                                                </app-card>
                                        </div>
                                </div>
    
                                <div class="row col-md-12">
                                    <div class="col-md-12 col-lg-6">
                                        <app-card [title]="''">
                                            <label class="sub-title-font">Credits</label>
                                            <div class="sub-title"></div>
                                            <div class="md-tabs">
                                                <ngb-tabset>
                                                    <ngb-tab>
                                                        <ng-template ngbTabTitle><span class="tab-title" translate>Top 10 Credits</span></ng-template>
                                                        <ng-template ngbTabContent>
                                                            <div [@fadeInOutTranslate] class="m-t-15">
                                                                <div class="table-responsive">
                                                                    <table class="table table-borderless inner-tables">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Particulars</th>
                                                                                <th>Amount</th>
                                                                                <th>Balance</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let topCredit of topCredits">
                                                                                <td>{{topCredit.date | date:'dd-MM-yyyy'}}</td>
                                                                                <td>{{topCredit.particulars}}</td>
                                                                                <td class="green-color" style="text-align: right"><img src="assets/images/rupee-green.svg">{{topCredit.amount | number}}</td>
                                                                                <td class="green-color" style="text-align: right"><img src="assets/images/rupee-green.svg">{{topCredit.balance | number}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-tab>
    
                                                    <ngb-tab>
                                                        <ng-template ngbTabTitle><span class="tab-title" translate>Recurring Credits</span></ng-template>
                                                        <ng-template ngbTabContent>
                                                            <div [@fadeInOutTranslate] class="m-t-15">
                                                                <div class="table-responsive" *ngFor="let recurringCredit of recurringCredits">
                                                                    <table class="table table-borderless inner-tables">
                                                                        <thead>
                                                                            <label><b>Description:</b>
                                                                                {{recurringCredit.description}}</label>
                                                                            <tr>
                                                                                <th>Month</th>
                                                                                <th style="text-align: right">Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let transaction of recurringCredit.transactions">
                                                                                <td>{{transaction.month | date:'dd-MM-yyyy'}}</td>
                                                                                <td class="green-color" style="text-align: right"><img src="assets/images/rupee-green.svg">{{transaction.amount | number}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-tab>
                                                </ngb-tabset>
                                            </div>
                                        </app-card>
                                    </div>
    
                                    <div class="col-md-12 col-lg-6">
                                        <app-card [title]="''">
                                            <div class="col-md-12">
                                                <label class="sub-title-font">Debits</label>
                                                <div class="sub-title"></div>
                                                <div class="md-tabs">
                                                    <ngb-tabset>
                                                        <ngb-tab>
                                                            <ng-template ngbTabTitle><span class="tab-title" translate>Top Debits</span></ng-template>
                                                            <ng-template ngbTabContent>
                                                                <div [@fadeInOutTranslate] class="m-t-15">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-borderless inner-tables">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Date</th>
                                                                                    <th>Particulars</th>
                                                                                    <th>Amount</th>
                                                                                    <th>Balance</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let topDebit of topDebits">
                                                                                    <td>{{topDebit.date | date:'dd-MM-yyyy'}}</td>
                                                                                    <td>{{topDebit.particulars}}</td>
                                                                                    <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{topDebit.amount | number}}</td>
                                                                                    <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{topDebit.balance | number}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                        </ngb-tab>
                                                        <ngb-tab>
                                                            <ng-template ngbTabTitle><span class="tab-title" translate>Recurring Debits</span></ng-template>
                                                            <ng-template ngbTabContent>
                                                                <div [@fadeInOutTranslate] class="m-t-15">
                                                                    <div class="table-responsive" *ngFor="let recurringDebit of recurringDebits">
                                                                        <table class="table table-borderless inner-tables">
                                                                            <thead>
                                                                                <label><b>Description:</b>
                                                                                    {{recurringDebit.description}}</label>
                                                                                <tr>
                                                                                    <th>Month</th>
                                                                                    <th style="text-align: right">Amount</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let transaction of recurringDebit.transactions">
                                                                                    <td>{{transaction.month | date:'dd-MM-yyyy'}}</td>
                                                                                    <td class="red-color" style="text-align: right"><img src="assets/images/rupee-red.svg">{{transaction.amount | number}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                        </ngb-tab>
                                                    </ngb-tabset>
                                                </div>
                                            </div>
                                        </app-card>
                                    </div>
                                </div>
    
                                <div class="col-md-12">
                                    <app-card [title]="''">
                                        <div class="col-md-12">
                                            <label class="sub-title-font">Transactions</label>
                                            <div class="sub-title"></div>
                                            <div class="md-tabs">
                                                <ngb-tabset>
                                                    <ngb-tab>
                                                        <ng-template ngbTabTitle><span class="tab-title" translate>Transactions</span></ng-template>
                                                        <ng-template ngbTabContent>
                                                            <div [@fadeInOutTranslate] class="m-t-15">
                                                                <div class="table-responsive">
                                                                    <table class="table table-borderless inner-tables">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Sr No</th>
                                                                                <th>Value Date</th>
                                                                                <th>Txn Date</th>
                                                                                <th>Narration</th>
                                                                                <th>Amount</th>
                                                                                <th>Type</th>
                                                                                <th>Balance Amount</th>
                                                                                <th>Category</th>
                                                                                <th>Mode</th>
                                                                                <th>IsOverdraft</th>
                                                                                <th>IsAuto</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let transaction of transactions">
                                                                                <td>{{transaction.srNo}}</td>
                                                                                <td>{{transaction.valueDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                                                                <td>{{transaction.txnDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                                                                <td>{{transaction.narration}}</td>
                                                                                <td  style="text-align: right" [style.color]="transaction.type == 'CREDIT' ? 'green' : 'red'"><img
                                                                                        [src]="transaction.type == 'CREDIT' ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{transaction.amount | number}}</td>
                                                                                <td>{{transaction.type}}</td>
                                                                                <td style="text-align: right" [style.color]="transaction.type == 'CREDIT' ? 'green' : 'red'"><img
                                                                                        [src]="transaction.type == 'CREDIT' ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{transaction.balanceAmount | number}}</td>
                                                                                <td>{{transaction.category}}</td>
                                                                                <td>{{transaction.mode}}</td>
                                                                                <td>{{transaction.isOverdraft}}</td>
                                                                                <td>{{transaction.isAuto}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-tab>
                                                    <ngb-tab>
                                                        <ng-template ngbTabTitle><span class="tab-title" translate>Top Cash Txns</span></ng-template>
                                                        <ng-template ngbTabContent>
                                                            <div [@fadeInOutTranslate] class="m-t-15">
                                                                <div class="table-responsive">
                                                                    <table class="table table-borderless inner-tables">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Particulars</th>
                                                                                <th>Type</th>
                                                                                <th>Amount</th>
                                                                                <th>Balance</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let topCashTxn of topCashTxns">
                                                                                <td>{{topCashTxn.date | date:'dd-MM-yyyy'}}</td>
                                                                                <td>{{topCashTxn.particulars}}</td>
                                                                                <td>{{topCashTxn.type}}</td>
                                                                                <td style="text-align: right" [style.color]="topCashTxn.type == 'CREDIT' ? 'green' : 'red'"><img
                                                                                        [src]="topCashTxn.type == 'CREDIT' ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{topCashTxn.amount | number}}</td>
                                                                                <td style="text-align: right" [style.color]="topCashTxn.type == 'CREDIT' ? 'green' : 'red'"><img
                                                                                        [src]="topCashTxn.type == 'CREDIT' ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{topCashTxn.balance | number}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-tab>
                                                    <ngb-tab>
                                                        <ng-template ngbTabTitle><span class="tab-title" translate>Top Cheque Txn</span></ng-template>
                                                        <ng-template ngbTabContent>
                                                            <div [@fadeInOutTranslate] class="m-t-15">
                                                                <div class="table-responsive">
                                                                    <table class="table table-borderless inner-tables">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Date</th>
                                                                                <th>Particulars</th>
                                                                                <th>Type</th>
                                                                                <th>Amount</th>
                                                                                <th>Balance</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let topChequeTxn of topChequeTxns">
                                                                                <td>{{topChequeTxn.date | date:'dd-MM-yyyy'}}</td>
                                                                                <td>{{topChequeTxn.particulars}}</td>
                                                                                <td>{{topChequeTxn.type}}</td>
                                                                                <td style="text-align: right" [style.color]="topChequeTxn.type == 'CREDIT' ? 'green' : 'red'"><img
                                                                                        [src]="topChequeTxn.type == 'CREDIT' ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{topChequeTxn.amount | number}}</td>
                                                                                <td style="text-align: right" [style.color]="topChequeTxn.type == 'CREDIT' ? 'green' : 'red'"><img
                                                                                        [src]="topChequeTxn.type == 'CREDIT' ? 'assets/images/rupee-green.svg' : 'assets/images/rupee-red.svg'">{{topChequeTxn.balance | number}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-tab>
                                                </ngb-tabset>
                                            </div>
                                        </div>
                                    </app-card>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div> 
    
