.tab-title {
  font-size: 16px;
  font-weight: bold
}

.page-title{
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  text-align: left;
}

.sub-title-font{
font-size: 18px;
font-weight:bold
}

.inner-sub-title-font{
font-size: 16px;
font-weight:bold
}

.sbi-tab-title {
font-size: 22px;
font-weight: bold;
}

.label-title-green{
font-size: 16px;
font-weight: bold;
color: #008000
}

.label-title-red{
font-size: 16px;
font-weight: bold;
color: #FF0000
}

.green-color{
color: #008000
}

.red-color{
color: #FF0000
}

.ngbTabTitle{
  font-size: 25px
}

.label-size{
  font-size: 12px;
  font-weight: bold;
}

.placeholder{
  font-size: 12px;
}

.btn-primary{
  width: 500px;
  font-size: 14px;
  font-weight: bold;
}

.search{
  font-size: 14px;
  font-weight: bold
}

.search-placeholder{
  font-size: 14px;
}

.datatable-column {
  font-size: 12px;
  font-weight: bold;
}

.datatable-row {
  font-size: 12px;
}

.outer-table-box {
  font-size: 12px;
  overflow-x: scroll;
  table-layout: fixed;
}

.inner-table-box td{
  width: 800px;
  table-layout: fixed;
  word-wrap: break-word;
} 

.table-box td {
  width:100px; 
  word-wrap:break-word;
}

.account-insight-label {
  font-size: 25px;
  padding-left: 15px;
  text-align: left;
  font-weight: bold;
}

.inner-tables ,th ,td{
  font-size: 12px;
}

th, td { 
  padding: 8px; 
} 

a.tooltip {
	position: relative;
	text-decoration: none;
}

a.tooltip span {
	display: none;
}

a.tooltip:hover span {
	position: absolute;
	top: 12px;
  font-size: 40px;
	left: 0px;
	display: block;
	width: 250px;
	color: black;
	padding: 5px;
}

.change-color:hover, .change-color:focus, .change-color:active{
  background-color: rgb(123, 174, 230);
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  position: absolute;
  top: 50%;
  /*half of the modal height*/
  margin-top: -100px;
  left: 35%;
}

/* Modal Content */
.modal-content {
  width: 350px;
  height:  200px;
  text-align: center;
  font-size: 12px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-body {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
 }

.modal-footer {
  text-align: center;
  height:  70px;
}

.modal-btn-primary{
  width: auto;
  font-size: 14px;
  font-weight: bold;
  background-color: #039BE5;
  color: white;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px 5px;
  border: none;
}

.checkboxes {
  text-align:left;
 }

.checkboxes input{
  margin: 0px 0px 0px 0px;
 }

 .checkboxes label{
   margin: 0px 20px 0px 3px;
 }

 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.btn-outline-primary {
  color: #039BE5;
  border: 1px solid #039BE5;
  background-color: white;
}

.btn-outline-cancel {
  color: red;
  border: 1px solid red;
  background-color: white;
}

.wrapword{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
}

.main-container {
  max-width: 700px;
  max-height: 290px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main-container::-webkit-scrollbar {
  width: 0px;
}
