<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">AA customers</h6>
          <h2 class="text-right"><i class="ti-link f-left"></i><span>25,000</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Pending Customer Consents</h6>
          <h2 class="text-right"><i class="ti-view-list-alt f-left"></i><span>100</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Customer Consents</h6>
          <h2 class="text-right"><i class="ti-eye f-left"></i><span>2,562</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Data Transactions</h6>
          <h2 class="text-right"><i class="ti-layers f-left"></i><span>100,000</span></h2>
        </div>
      </div>
    </div>

      <!-- statustic and process start -->
      <div class="col-lg-8 col-md-12">
        <app-card [title]="'Statistics'" [cardOptionBlock]="true" [classHeader]="true">
          <div #statisticsChart >
            <div id="statistics_chart" style="height: 320px"></div>
          </div>
        </app-card>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>System Status</h5>
          </div>
          <div class="card-block">
            <span class="d-block text-c-blue f-24 f-w-600 text-center">99.99%</span>
            <p class="text-success m-b-0 text-center"><i class="ti-hand-point-up m-r-5 text-center"></i>Positive</p>
            <div class="row justify-content-center m-t-15">
              <!-- 
              <div class="col-auto m-t-5 m-b-5">
                <h4>17%</h4>
                <p class="text-danger m-b-0"><i class="ti-hand-point-down m-r-5"></i>Negative</p>
              </div>
            --> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Total API Failures</h5>
          </div>
          <div class="card-block">
            <span class="d-block text-c-blue f-24 f-w-600 text-center">10</span>
            <p class="text-danger m-b-0 text-center"><i class="ti-hand-point-down m-r-5 text-center"></i>Negative</p>
            <div class="row justify-content-center m-t-15">
              <!-- 
              <div class="col-auto m-t-5 m-b-5">
                <h4>17%</h4>
                <p class="text-danger m-b-0"><i class="ti-hand-point-down m-r-5"></i>Negative</p>
              </div>
            --> 
            </div>
          </div>
        </div>
      </div>
  

      <!-- statistic and process end -->

  </div>
</div>