// .modal-content-properties{
//     width: 350px;
//     height:  350px;
//     text-align: center;
//     font-size: 12px;
// }

// .modal-title {
//     font-size: 12px;
// }  

// .modal-footer {
//     text-align: center;
// }

// .modal-dialog {
//     position: absolute;
//     top: 50%;
//     /*half of the modal height*/
//     margin-top: -100px;
//     left: 50%;
// }

// .modal.fade-anim {
//     transition: opacity 400ms ease-in-out;
//     will-change: opacity;
//     opacity: 2;
// }
  
// .modal.fade-anim.in {
//     opacity: 3;
// }

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 5px 5px;
    border: none;
}

.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 60px);
    width: 350px;
  }
  @media (max-width: 767px) {
    .modal-dialog {
      min-height: calc(100vh - 20px);
    }
  }
  
  /* you only need the above CSS. The code below centers the modal trigger button */
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }