<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Profile To Approve</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="profilesList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="profileList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="Profile Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template>      
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Profile Description" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileDescription}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row">{{row.action}}</span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Profile Details" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" (click)="viewProfileRecord(row.profileId)" [style.color]="'#007bff'">
                View Profile
            </a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewUpdatedProfile">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Profile Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseProfileRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Profile Id</th>
            <td>{{profileUpdatedRowData.profileId}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Name</th>
            <td>{{profileUpdatedRowData.profileName}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Description</th>
            <td>{{profileUpdatedRowData.profileDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Apis</th>
            <td><ul *ngFor="let item of profileUpdatedRowData.profileApis"><li>{{item}}</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Profile Created By</th>
            <td>{{profileUpdatedRowData.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Creation Date</th>
            <td>{{profileUpdatedRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Profile Update By</th>
            <td>{{profileUpdatedRowData.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Updation Date</th>
            <td>{{profileUpdatedRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(profileUpdatedRowData)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(profileUpdatedRowData)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewProfile">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Profile Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseProfileRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table m-0">
        <th scope="row"><h6>Parameters</h6></th>
        <th scope="row"><h6>Current Values</h6></th>
        <th scope="row"><h6>Updated Values</h6></th>
        <tbody>
          <tr>
            <th scope="row">Profile Id</th>
            <td>{{profileRowData.profileId}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Profile Name</th>
            <td>{{profileRowData.profileName}}</td>
            <td>{{profileName}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Description</th>
            <td>{{profileRowData.profileDescription}}</td>
            <td>{{profileDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Apis</th>
            <td><ul *ngFor="let item of profileRowData.profileApis"><li>{{item}}</li></ul></td>
            <td><ul *ngFor="let item of profileApis"><li>{{item}}</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Profile Created By</th>
            <td>{{profileRowData.createdBy}}</td>
            <td>{{createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Creation Date</th>
            <td>{{profileRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{creationDate  | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Profile Update By</th>
            <td>{{profileRowData.updatedBy}}</td>
            <td>{{updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Updation Date</th>
            <td>{{profileRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: left;"> 
          <button type="button" class="btn btn-primary" (click)="getApproveModal(profileUpdatedRowData)"  style="width: 200px;"> Approve </button>
        </div>
        <div class="col-6" style="float: right;"> 
          <button type="button" class="btn btn-primary" (click)="getRejectModal(profileUpdatedRowData)" style="width: 200px;"> Reject </button>
       </div>
      </div>
    </div>
  </div>
</app-card>
