<div class="card bg-c-blue notification-card">
  <div class="card-block ">
      <div class="col-12 notify-cont">
        <p class="page-title">Profile</p>
      </div>
  </div>
</div>

<app-card [cardOptionBlock]="true" *ngIf="profilesList">
  <ngx-datatable 
      class="data-table"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="45"
      [rowHeight]="'auto'"
      [limit]="10"
      [scrollbarH]="true"
      [rows]="profileList"
      [sorts]="[{prop: 'creationDate', dir: 'desc'}]">

      <ngx-datatable-column name="profile Id"  [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileId}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Profile Name" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileName}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Profile Description" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.profileDescription}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created By" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.createdBy}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Created Date" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss'}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Active" [resizeable]="false" [sortable]="false" 
      [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.active}} </span>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" 
        [draggable]="false" [canAutoResize]="true">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
          </ng-template> 
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"> 
            <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="viewProfileRecord(row.profileId)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="View Profile">
              <i class="fa fa-book" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="editProfileRecord(row.profileId)"
               data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Update Profile">
               <i class="fa fa-edit" style="font-size: 16px;"></i></a>
            <a href="javascript:;" class="crm-action-delete text-danger" (click)="openDeleteModal(row.profileId)"
              data-toggle="popover" data-trigger="hover" aria-hidden="true" data-placement="bottom" title="Delete Profile">
              <i class="fa fa-trash" style="font-size: 16px;"></i></a>
          </ng-template>
        </ngx-datatable-column>
</ngx-datatable>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!viewProfile">
  <div class="col-lg-12 col-xl-12" style="margin-bottom: 20px;"><Span><h6>Profile Details<a href="javascript:;" class="crm-action-delete text-danger f-right" (click)="toggleCloseProfileRecord()"><i class="ti-close"></i></a></h6></Span></div>
  <div class="col-lg-12 col-xl-10">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Profile Id</th>
            <td>{{profileRowData.profileId}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Name</th>
            <td>{{profileRowData.profileName}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Description</th>
            <td>{{profileRowData.profileDescription}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Apis</th>
            <td><ul *ngFor="let item of profileRowData.profileApis"><li>{{item}}</li></ul></td>
          </tr>
          <tr>
            <th scope="row">Profile Created By</th>
            <td>{{profileRowData.createdBy}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Creation Date</th>
            <td>{{profileRowData.creationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Profile Update By</th>
            <td>{{profileRowData.updatedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Profile Updation Date</th>
            <td>{{profileRowData.updationDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">Approved By</th>
            <td>{{profileRowData.approvedBy}}</td>
          </tr>
          <tr>
            <th scope="row">Approved Date</th>
            <td>{{profileRowData.approvedDate | date:'dd-MM-yyyy HH:mm:ss' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>

<app-card [cardOptionBlock]="true" *ngIf="!editProfile">
  <form [formGroup]="updateProfileForm"> 
    <div class="card-block col-10">
      <div class="row m-b-20">
        <div class="col-sm-12 col-lg-12">
          <p class="sub-title" style="font-size: 16px;">Profile Information</p>
          <label class="label-size">Profile Id</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                  src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile id "
              formControlName="updateProfileId" readonly>
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder"
                *ngIf="updateProfileForm.controls['updateProfileId'].hasError('required') 
                    && (updateProfileForm.controls['updateProfileId'].dirty 
                    || updateProfileForm.controls['updateProfileId'].touched)">
                Profile Id is required
              </span>
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="updateProfileForm.controls['updateProfileId'].hasError('profileNameIdLength') 
                          && (updateProfileForm.controls['updateProfileId'].dirty 
                          || updateProfileForm.controls['updateProfileId'].touched)">
                  Profile Id accepts 32 characters only
              </span>
            </div>
          </div>
          <label class="label-size">Profile Name</label>
          <div class="input-group">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                  src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile name "
              formControlName="updateProfileName">
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder"
                      *ngIf="updateProfileForm.controls['updateProfileName'].hasError('required') 
                          && (updateProfileForm.controls['updateProfileName'].dirty 
                          || updateProfileForm.controls['updateProfileName'].touched)">
                  Profile name is required
              </span>
              <span style="float:left;margin-top: 5px;" class="messages text-danger" 
                    *ngIf="updateProfileForm.controls['updateProfileName'].hasError('profileNameIdLength') 
                          && (updateProfileForm.controls['updateProfileName'].dirty 
                          || updateProfileForm.controls['updateProfileName'].touched)">
                  Profile Name accepts 32 characters only
              </span>
            </div>
          </div>
          <label class="label-size">Profile Description</label>
          <div class="input-group">
              <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img
                    src="assets/icon/themify-icons/SVG/profile.svg"></label></span>
              <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter profile description "
                formControlName="updateProfileDescription">
              <div class="input-group">
                <span style="float:left;" class="messages text-danger placeholder"
                        *ngIf="updateProfileForm.controls['updateProfileDescription'].hasError('required') 
                            && (updateProfileForm.controls['updateProfileDescription'].dirty 
                            || updateProfileForm.controls['updateProfileDescription'].touched)">
                    Profile description is required
                </span>
              </div>
          </div>  
          <label class="label-size">Profile APIs</label>
          <div class="input-group main-container">
              <div *ngFor="let item of profileApiUrls " class="input-group label-size">
                  <input type="checkbox"
                         id="updateProfileApis"
                         formControlName="updateProfileApis"
                         (change)="onCheckboxChange(item,$event)"
                         [checked]="isSelected(item)"/> 
                         <label style="padding-left: 3px;padding-right: 10px;">
                          {{item}}
                        </label>
              </div>
            <div class="input-group">
              <span style="float:left;" class="messages text-danger placeholder" 
                  *ngIf="updateProfileForm.controls['updateProfileApis'].hasError('required') 
                       && (updateProfileForm.controls['updateProfileApis'].dirty 
                       || updateProfileForm.controls['updateProfileApis'].touched)">
                  Select atleast one profile api
              </span>
            </div>
          </div> 
     </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12" align="center">
        <div class="col-6" style="float: right;"> 
          <button type="submit" class="btn btn-primary" style="width: 200px;" (click)="submitForm()"> Update </button>
        </div>
        <div class="col-6" style="float: left;"> 
          <button class="btn btn-primary" (click)="toggleEditProfile()" style="width: 200px;"> Cancel </button>
        </div>
      </div>
    </div>
  </div>
  </form>
</app-card>