<div class="page-body">
  <div class="card bg-c-blue notification-card">
    <div class="card-block col-sm-12">
        <div class="col-sm-12 notify-cont">
          <p class="page-title">Search Results for Customer AA id</p>
        </div>
    </div>
  </div>

  <app-card>
    <form [formGroup]="customerConsentSearchForm">
      <label class="label-size">Customer Id:</label>
      <div class="form-group row">
        <div class="input-group col-sm-4">
            <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
            <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter customer id" formControlName="customerAAId">
            <!-- <div class="input-group placeholder">
                <span style="float:left;margin-top: 5px;" class="messages text-danger" *ngIf="(customerConsentSearchForm.controls['customerAAId'].hasError('required') 
                            || customerConsentSearchForm.controls['customerAAId'].hasError('whitespace')) 
                            && (customerConsentSearchForm.controls['customerAAId'].dirty || customerConsentSearchForm.controls['customerAAId'].touched)">Enter customer id</span>
            </div> -->
          </div>
          <div class="col-sm-8">
            <button style="width: 100px;height: 35px;" type="submit" class="btn btn-primary" (click)="getCutomerConsent()">Search</button>
          </div>
        </div>
        <label style="margin-bottom: 15px;font-weight: bold; font-size: 16px;">Search results for customer:  {{customerId}}</label>
    </form>  
    <ngx-datatable 
        class="data-table"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="45"
        [rowHeight]="'auto'"
        [limit]="5"
        [scrollbarH]="true"
        [rows]="customerConsentResponse"
        [sorts]="[{prop: 'consentLastUsed', dir: 'desc'}]">

        <ngx-datatable-column name="Consent Purpose" [resizeable]="false" [sortable]="false" 
              [draggable]="false" [canAutoResize]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.consentPurpose}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Consent Status" [resizeable]="false" [sortable]="false" 
              [draggable]="false" [canAutoResize]="true" >
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span class="datatable-row"> {{row.consentStatus}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Consent Fetch Type" [resizeable]="false" [sortable]="false" 
              [draggable]="false" [canAutoResize]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span class="datatable-row"> {{row.consentFetchType}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Consent Expiry Date" [resizeable]="false" [sortable]="false" 
              [draggable]="false" [canAutoResize]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span class="datatable-row"> {{row.consentExpiryDate | date:'d MMM, y  h:mm:ssa'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Consent Last Used" [resizeable]="false" [sortable]="false"
              [draggable]="false" [canAutoResize]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span class="datatable-row"> {{row.consentLastUsed | date:'d MMM, y  h:mm:ssa'}} </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Consent Details" [resizeable]="false" [sortable]="false" 
              [draggable]="false" [canAutoResize]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
                <span class="datatable-header-cell-label draggable datatable-column">{{column.name}}</span>
            </ng-template> 
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" style="text-align: center;"> 
                <a href="javascript:;" (click)="openModal(row)" [style.color]="'#007bff'">
                  View Details</a>
            </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
  </app-card>
</div>



