<div class="page-body">
    <div class="col-sm-12"  >
        <div class="col-sm-12" *ngIf="requestPage">
            <div class="card bg-c-blue notification-card">
                <div class="card-block col-sm-12">
                    <div class="col-sm-12 notify-cont">
                      <p class="page-title">Customer Consent Request</p>
                    </div>
                </div>
              </div>
              <div class="col-sm-12 card transaction-card">
                <form [formGroup]="createDetailsForm"  (ngSubmit)="submitForm()"> 
                    <div class="card-block col-md-10" style="margin-left: 15px">
                        <div class="form-group row">  
                            <label class="label-size">Customer Id:</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/user.svg"></label></span>
                                <input type="text" class="form-control tooltip-form placeholder" placeholder=" Enter customerId@finvu " formControlName="customerId">
                                <div class="input-group placeholder">
                                    <span style="float:left;margin-top: 5px;" class="messages text-danger" *ngIf="(createDetailsForm.controls['customerId'].hasError('required') 
                                                || createDetailsForm.controls['customerId'].hasError('whitespace')) 
                                                && (createDetailsForm.controls['customerId'].dirty || createDetailsForm.controls['customerId'].touched)">CustomerId is required</span>
                                </div>
                            </div>
                            <label class="label-size">Consent Description:</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/book.svg"></label></span>
                                <input type="text" class="form-control placeholder" placeholder=" Enter Consent Description" formControlName="consentDescription">
                                <div class="input-group placeholder">
                                    <span style="float:left;margin-top: 5px;" class="messages text-danger" *ngIf="(createDetailsForm.controls['consentDescription'].hasError('required') 
                                          || createDetailsForm.controls['consentDescription'].hasError('whitespace')) && (createDetailsForm.controls['consentDescription'].dirty 
                                          || createDetailsForm.controls['consentDescription'].touched)">Consent description is required</span>
                                </div>
                            </div>
                            <label class="label-size">Template Name</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><label class="input-group-text" style="background:#3498db"><img src="assets/icon/themify-icons/SVG/template.svg"></label></span>
                                <select class="form-control placeholder" formControlName="templateName"> 
                                    <option value="" disabled selected>Select template name</option>
                                    <option *ngFor="let item of templateList" [value]="item.templateName">{{item.templateName}}</option>
                                </select>
                                <div class="input-group placeholder">
                                  <span style="float:left;margin-top: 5px;" class="messages text-danger" *ngIf="createDetailsForm.controls['templateName'].hasError('required') 
                                              && (createDetailsForm.controls['templateName'].dirty || createDetailsForm.controls['templateName'].touched)">Select atleast one template name</span>
                                </div>
                            </div> 
                        </div>   
                    </div>
                    <div class="b-t-default transection-footer row text-center" align="center">
                        <div class="col-sm-12" align="center">
                            <button type="submit" class="btn btn-primary" style="width: 400px" >Next</button>
                        </div> 
                    </div>  
                </form> 
            </div>
        </div>
        
        <div *ngIf="!messagePage">
            <div class="card bg-c-blue notification-card">
                <div class="card-block ">
                    <div class="col-12 notify-cont">
                      <p class="page-title">Review Consent Request</p>
                    </div>
                </div>
            </div>
            <app-card [cardOptionBlock]="true">
                <div class="col-lg-12 col-xl-10">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <th scope="row">Template Name</th>
                          <td>{{templateDetails.templateName}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Customer Id</th>
                          <td>{{templateDetails.custId}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Description</th>
                          <td>{{templateDetails.consentDescription}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Mode</th>
                          <td>{{consentDetails.consentMode}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Fetch Type </th>
                          <td>{{consentDetails.fetchType}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Purpose</th>
                          <td>{{consentDetails.Purpose.text}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Purpose Code</th>
                          <td>{{consentDetails.Purpose.code}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Purpose Category</th>
                          <td>{{consentDetails.Purpose.Category.type}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent types</th>
                          <td>{{consentDetails.consentTypes.join(', ')}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Fi Types </th>
                          <td>{{consentDetails.fiTypes.join(', ')}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Frequency </th>
                          <td>{{consentDetails.Frequency.value}} {{consentDetails.Frequency.unit}}</td>
                        </tr>
                        <tr>
                          <th scope="row">DataLife</th>
                          <td>{{consentDetails.DataLife.value}} {{consentDetails.DataLife.unit}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Financial Data range</th>
                          <td>FromDate : {{consentDetails.FIDataRange.from | date:'d MMM, y'}}<br/>ToDate: {{consentDetails.FIDataRange.to | date:'d MMM, y'}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Start Date</th>
                          <td>{{consentDetails.consentStart | date:'d MMM, y'}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Consent Expiry Date</th>
                          <td>{{consentDetails.consentExpiry | date:'d MMM, y'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group row" *ngIf="!viewTemplateButtons" style="margin-top: 20px;">
                    <div class="col-sm-12" align="center">
                      <div class="col-6" style="float: left;"> 
                        <button type="button" class="btn btn-primary" (click)="toggleCloseTemplateRecord()"  style="width: 200px;"> cancel </button>
                      </div>
                      <div class="col-6" style="float: right;"> 
                        <button type="button" class="btn btn-primary" style="width: 200px;" (click)="createAndSendConsentRequest()"> OK </button>
                     </div>
                    </div>
                  </div>
                </div>
            </app-card>
        </div>
    </div>
</div>
